<!doctype html>
<html ng-app="todo">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/todo.js"></script>
  </head>
  <body>

    <div data-role="page">
      <div data-role="header">
        <h2>ToDo</h2>
      </div>
      <hr>
      <div data-role="content">
        <div ng-controller="TodoCtrl">
          <span>{{remaining()}} of {{todos.length}} remaining</span>
          <button class="btn" ng-click="archive(todo)">archive completed</button>
          <ul class="unstyled">
            <li ng-repeat="todo in todos">
              <input type="checkbox" ng-model="todo.done">
              <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
          </ul>
          <form ng-submit="addTodo()">
            <textarea z-keypress="addTodo()" class="entry" ng-model="todoText"></textarea>
          </form>
          <hr>
          <span ng-class="{hidden: archivedtodos.length == 0}">{{archivedtodos.length}} archived</span>
          <ul>
            <li ng-repeat="todo in archivedtodos">
              <button class="btn" ng-click="unarchive(todo)">unarchive</button>
              <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>