@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
	font-family: Quicksand;
	font-size: 14pt;
}
.header {
	font-weight: 700;
}
input[type='text']	{
	border: none;
	border-left: 2px solid #ccc;
	width: 90%;
	font-family: Quicksand;
	font-size: 14pt;
	font-weight: 400;
	resize: none;
}
input[type='text']:focus {
	outline: none;
}
input[type='checkbox'] {
	vertical-align: middle;
}
hr {
	background-color: #ccc;
	border: #ccc;
	height: 1px;
}
.done-true {
	text-decoration: line-through;
	color: #bbb;
}
.btn {
	font-family: Quicksand;
	color: #fff;
	background-color: #000;
	border-radius: 5px;
	border: none;
	padding: 8px;
}
.btnred {
	font-family: Quicksand;
	color: #fff;
	background-color: #e12300;
	border-radius: 5px;
	border: none;
	padding: 8px;
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}